<!DOCTYPE html>
<html>
<body>
<div>
    <h1>OneDayCarRental.biz Quote Me!</h1>
    <h2>Rentals on offer</h2>
    <div>
    {{range .Quotes}}
        <div>
            <p>
            {{.Name}}
            </p>
            <p>
                ${{printf "%.2f" .Amount}} {{.Currency}}
            </p>
        </div>
    {{end}}
    </div>
</div>
</body>
</html>